.error-div {
  text-align: center;
  color: red;
}

.video-div {
  height: 100%;
}

.video {
  border-radius: 20px;
}

.controls-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-recorder {
  display: flex;
  align-items: center;
  gap: 5px;
}
