.btn-arrowBack {
  font-size: 20px;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.btn-arrowBack:hover {
  cursor: pointer;
}

.quiz-div {
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  height: 90vh;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
