.home-div {
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  height: 90vh;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz-div {
  display: flex;
  gap: 20px;
}

.button-div {
  display: flex;
}

.card-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
}
